Django==2.2.24
django-bootstrap4==0.0.8
django-icons==0.2.1
mysql-connector-python==8.0.16
protobuf==3.7.1
pytz==2019.1
six==1.12.0
sqlparse==0.3.0

# necessary(?) installs for production hosting
mysqlclient>=1.4 ; sys_platform == 'linux'
uwsgi>=2.0 ; sys_platform == 'linux'

# install local version of mysqlclient
# ./wheels/mysqlclient-1.4.2-cp27-cp37m-win_amd64.whl ; sys_platform == "win32" and (platform_machine == "AMD64" or platform_machine == "x86_64")
# ./wheels/mysqlclient-1.4.2-cp27-cp37m-win32.whl ; sys_platform == "win32" and (platform_machine == "i386" or platform_machine == "x86")