.modal.in .modal-dialog {
    -webkit-transform: translate(0, calc(50vh - 50%));
    -ms-transform: translate(0, 50vh) translate(0, -50%);
    -o-transform: translate(0, calc(50vh - 50%));
    transform: translate(0, 50vh) translate(0, -50%);
}

#chartContainer {
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    min-height: 400px;
}

.filter-group {
    margin-top: 5px;
}

.field-container {
    display: flex;
    flex-direction: row;
}

.field-group-label {
    line-height: 32px;
}

.modal-form-field {
    margin-right: 8px;;
}

.modal-dialog-xl {
    max-width: 100%;
}

.datepicker.modal-form-field {
    width: 100px;
}

button.time-filter-select {
    margin-top: 5px;
}